<GridLayout tkExampleTitle tkToggleNavButton class="top-padding page-background">
  <RadListView [items]="this?.dataItemsList" class="page-background" (itemSelected)="onItemSelected($event)" (loaded)="rdlistloaded($event)"
    (itemLoading)="onItemLoading($event)">
    <ng-template tkListItemTemplate let-item="item" let-i="index">
      <GridLayout rows="" columns="" [ngClass]="{  paddingLeftFirst : i <= 4 }">

        <Gridlayout [ngClass]="{ android : !isIosBar, paddingLeftFirst : i <= 4 }" class="item-list-padding"
          horizontalAlignment="left" columns="2*,3*">
          <GridLayout>
            <!-- [ngClass]="{ imageandroid : !isIosBar == 1 }"  -->
            <Image stretch="aspectfill" [src]="item?.thumbnailURL"></Image>
            <GridLayout class="heart" rows="auto" columns="auto"  horizontalAlignment="left"
              verticalAlignment="top">
              <Label text="&#xe87e;" (tap)="changeHeart()" *ngIf="favouriteValue" class="mainFont font-14 md-icon  "
                textWrap="true"></Label>
                <Label text="&#xf004;" (tap)="changeHeart()" *ngIf="!favouriteValue" class="mainFont font-13 fontAweasome "
                  horizontalAlignment="left" verticalAlignment="top" textWrap="true"></Label>
            </GridLayout>

            
            <GridLayout row="1" rows="*" columns="*,*" verticalAlignment="bottom" class="image-label">
              <Label col="0" text='&#xe556;' (tap)="changeHeart()" class='mainFont  text-right md-icon  icon-color font-20'></Label>
              <Label col="1" [text]="item?.kcal" class="mainFont  text-left font-10 " textWrap="true"></Label>
            </GridLayout>
          </GridLayout>


          <StackLayout (tap)="detail(item)" col="1" class="list-item-info">
            <Label [text]="item?.name" class="font-13 title-item-list" textWrap="true"></Label>
            <GridLayout>
              <Label [text]="getNumber(item?.price)" class="number-styling font-27" textWrap="true"></Label>
              <Label [text]="getDecimal(item?.price)" class="small-number-styling " Wrap="true"></Label>
              <!-- <Label text="Nu" class="small-number-styling-new font-9"  textWrap="true"></Label> -->
              <!-- [ngClass]="{newItem : true == true}"
            [ngClass]="{newItem : true == true}"
            [ngClass]="{newItem : true == true}" -->
            </GridLayout>
          </StackLayout>
        </Gridlayout>
      </GridLayout>

    </ng-template>
    <ListViewGridLayout *ngIf="isIosBar" tkListViewLayout scrollDirection="Horizontal" [itemHeight]="containerHeight"
      itemWidth="240dp" spanCount="5"></ListViewGridLayout>
    <ListViewGridLayout *ngIf="!isIosBar" tkListViewLayout scrollDirection="Horizontal" spanCount="5"></ListViewGridLayout>
  </RadListView>
</GridLayout>