@import 'itemList-common';

.font-27 {
    font-size: 25dp;
}


.small-number-styling {
    font-weight: 900;
    padding: 3% 0% 3% 20%;
    z-index: 4;
    margin-bottom: 15%;
    color: black;
    
}

.image-label {
    background: linear-gradient(180deg, rgba(125,111,102,1) 0%, rgba(91,78,70,1) 100%);
    color: rgba(255,255,255,1);
    font-family: "SF Pro Text";
    border-bottom-left-radius: 3%;
}


.b-r-l-t {
    border-top-left-radius: 3%;
}

.paddingLeftFirst {
    margin-left: 14dp;
    border-radius: 6%;
}

.number-styling {
    font-weight: bold;
    z-index: 5;
    color: black;
}


.android {
    width: 210dp;
    height: 70dp;
}

.imageandroid {
    width: 84dp;
}