@import 'itemList-common';

.font-27 {
    font-size: 25dp;
}


.small-number-styling {
    font-weight: 900;
    padding: 3% 0% 3% 20%;
    z-index: 4;
    margin-bottom: 15%;
    color: black;
    
}


.number-styling {
    font-weight: bold;
    z-index: 5;
    color: black;
}