@import '../../theme/sass/index';

.md-icon {
    font-family: $material-icon-font;
}

.page-background {
    background-color: $background;
}

.top-padding {
    padding-top: 12dp;
}

.icon-color {
    color: #AAAAAA;
    padding-right: 4%;
}


.heart {
    color: $primary-color;
    padding: 3% 0% 0% 4%;
    z-index: 1;
}

.image-label {
    background: linear-gradient(180deg, rgba(125,111,102,1) 0%, rgba(91,78,70,1) 100%);
    color: rgba(255,255,255,1);
    font-family: "SF Pro Text";
}

.paddingLeftFirst {
    margin-left: 14dp;
}

.item-list-padding {
    margin-left: 8dp;
    border-color: rgba(255,255,255,0.8);
    border-width: 0.5dp;
    border-radius: 6%;
    background-color: rgba(255,255,255,1);
}

.number-styling {
    font-weight: bold;
}

.small-number-styling {
    font-weight: 900;
    padding: 10% 0% 20% 20%;
}
.small-number-styling-new {
    font-weight: 400;
    padding: 0% 0% 33% 14%;
}

.newItem {
    color: $primary-color;
}


.title-item-list {
    color: rgba(51,51,51,1);
    font-family: "SF Pro Display";
    font-weight: 600;
}

.list-item-info {
    padding: 5dp 5dp -3dp 5dp;
}

.android {
    width: 210dp;
    height: 70dp;
}

.imageandroid {
    width: 84dp;
}