<GridLayout tkExampleTitle tkToggleNavButton class="top-padding page-background">
  <RadListView [items]="this?.dataItemsList" class="page-background" (itemSelected)="onItemSelected($event)" (loaded)="rdlistloaded($event)"
    (itemLoading)="onItemLoading($event)">
    <ng-template tkListItemTemplate let-item="item" let-i="index">
      <Gridlayout  [nsRouterLink]="['/productDetail']" [ngClass]="{ paddingLeftFirst : i == 1}"
        class="item-list-padding" horizontalAlignment="left" columns="2*,3*">
        <GridLayout>
          <Image class="image" stretch="Fill" [src]="item?.thumbnailURL"></Image>
          <Label text="&#xe87e;" class="mainFont font-12 md-icon  heart" horizontalAlignment="left" verticalAlignment="top"
            textWrap="true"></Label>
          <GridLayout row="1" rows="*" columns="*,*" verticalAlignment="bottom" class="image-label">
            <Label col="0" text='&#xe556;' class='mainFont  text-right md-icon  icon-color font-20'></Label>
            <Label col="1" [text]="item?.kcal" class="mainFont text-left  font-10 " textWrap="true"></Label>
          </GridLayout>
        </GridLayout>

        <StackLayout col="1" class="list-item-info">
          <Label [text]="item?.name" class="font-13 title-item-list" textWrap="true"></Label>
          <GridLayout>
            <Label [text]="getNumber(item?.price)" class="number-styling font-27" textWrap="true"></Label>
            <Label [text]="getDecimal(item?.price)" class="small-number-styling font-13" Wrap="true"></Label> 
            <!-- <Label text="Nu" class="small-number-styling-new font-9"  textWrap="true"></Label> -->
            <!-- [ngClass]="{newItem : true == true}"
            [ngClass]="{newItem : true == true}"
            [ngClass]="{newItem : true == true}" -->
          </GridLayout>
        </StackLayout>
      </Gridlayout>
    </ng-template>
    <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" [itemHeight]="containerHeight" itemWidth="240dp"
      spanCount="5"></ListViewGridLayout>
  </RadListView>
</GridLayout>