@import '../theme/sass/index';

.md-icon {
    font-family: $material-icon-font;
}

.fontAweasome {
    font-family: $fontAweasmoe;
}

.pageUp {
    margin-top: -100dp;
}

.page-padding {
    padding-top: 100dp;
    background-color: $background;
}

.image-card {
    // height: 64%;
    vertical-align: top;
    margin: 2.7% 9.73% 0% 9.73%;
    border-radius: 0 0 8dp 8dp;
    border-width: 0.5dp;
    border-color: rgba(255,255,255,0.8);
    background-color: white;
}

.image {
    z-index: 0;
}



.extra-margin {
    padding-top: 22dp;
}

.close-icon {
    color: rgb(128, 128, 128);
    padding: 10% 5% 0% 18%;
    z-index: 1;
}

.alignLabel {
    margin-top: 20%;
    padding-bottom: 5dp;
}

.card-title {
	color: #333333;
	font-weight: 600;
    margin-top: 7dp;
    width: 64%;
}

.align-textField {
    padding-left: 10dp;
}

.card-label {
    color: #5B4E46;
    vertical-align: middle;
    padding: 7% 0% 0% 10%;
}

.min-margin {
    margin-top: 60dp;
}

.icon-color {
    color: #AAAAAA;
    padding-right: 4%;
}

.number-styling {
	color: $primary-color;
    font-weight: bold;
}

.heart {
    color: $primary-color;
    padding: 17% 5% 0% 18%;
    z-index: 1;
}

.small-number-styling {
	color: $primary-color;
    font-weight: 900;
    padding: 0% 0% 14% 27%;
}

.btn-styling {
    border-width: 0.5dp;
	border-radius: 8dp;
    border-color: rgba(53, 53, 53,0.3);
    // padding:8% 0% 8% 0%;;
    height: 32dp;
    width: 32dp;
}

.add {
    background-color: #A0BF37;
    color: white;
}

.textfield {
    width: 30%;
    text-align: center;
    color: rgba(197, 197, 197, 0.863);
}

.alignbtn {
    margin: 14dp 3% 5% 8%;
    padding-bottom: 3dp;
}

.tabs-border {
    border-top-width: 1dp;
    border-top-color: rgba(233, 230, 229,0.7) ;
}

.tabs {
    padding:12% 0% 12% 0%;
	color: $sec-color;
	font-weight: bold;
	letter-spacing: 0.1;
    text-align: center;
    text-transform: uppercase;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.activeTab {
    border-bottom-width: 2%;
    border-bottom-color: $primary-color;

}

// list styling
.alginList {
    width: 88%;
    margin-top: 3%;
}

.sub-title {
	color: $sec-color;
    font-weight: 500;
    letter-spacing: 0.1;
	border-bottom-color: $primary-color;
    border-bottom-width: 2dp;
    padding-bottom: 1dp;
}

.sub-title-two {
	color: black;
    font-weight: 500;
    margin-top: 3%;
}

.item-list {
    border-bottom-width: 0.5px;
    border-bottom-color:rgba(99, 99, 99,0.5);
    padding-top: 2dp;
    padding-left: 2dp;
}

.sub-info {
    padding-left: 22%;
}

.label-color  {
    color: black;
    font-weight: 300;
}

.scrollPadding {
    padding-bottom: 40dp;
}


@keyframes tap-zoom-in-animation {
    from {  
            transform: scale(1);
        }
    
    50% {
            transform: scale(1.05)  ;
        } 

    to {
            transform: scale(1);
        }
}

.tapzoominanimation {
    animation-name: tap-zoom-in-animation;
    animation-duration: 0.1s;
    animation-timing-function:linear;
}