@import 'productDetail-common';


.textfield {
    width: 30%;
    text-align: center;
    color: rgba(197, 197, 197, 0.863);
    border-bottom-color: rgba(197, 197, 197, 0.863);
    border-bottom-width: 1dp;
}
