@import "variable";

.font-10 {
    font-size: 11dp;
}

.font-12 {
    font-size: 12dp;
}

.font-18 {
    font-size: 18dp;
}

.font-20 {
    font-size: 20dp;
}

.font-26 {
    font-size: 26dp;
}

.font-40 {
    font-size: 40dp;
}

