
.font-9 {
    font-size: 9dp;
}
.font-10 {
    font-size: 10dp;
}

.font-11 {
    font-size: 11dp;
}

.font-12 {
    font-size: 12dp;
}

.font-13 {
    font-size: 13dp;
}

.font-14 {
    font-size: 14dp;
}

.font-17 {
    font-size: 17dp;
}

.font-18 {
    font-size: 18dp;
}

.font-20 {
    font-size: 20dp;
}

.font-26 {
    font-size: 26dp;
}

.font-27 {
    font-size: 27dp;
}

.font-40 {
    font-size: 40dp;
}



