<GridLayout rows="auto,*">
  <GridLayout class="page-padding" height="200dp" rows="*" columns="*" verticalAlignment="top">
    <Image stretch="aspectFill" src="https://www.thehindubusinessline.com/migration_catalog/article19347481.ece/alternates/WIDE_660/BL20_MAIN_THINK1"></Image>
    <Label text="Assortiment" class="large-title" verticalAlignment="bottom" textWrap="true"></Label>
  </GridLayout>

  <GridLayout row="1" rows="auto,*,auto" columns="*">
    <GridLayout rows="*" columns="auto" class="tab-align">
      <ScrollView orientation="horizontal" width="100%" scrollBarIndicatorVisible="false">
        <StackLayout orientation="horizontal">
          <ng-container *ngFor="let item of tabs; let i = index;">
            <Label [text]="item"  (tap)="tabChanged(i,item)" [ngClass]="{ activeTab : i == isActiveTab(), inactivetab : i != isActiveTab(), marginlefttab : i == 0}"
              class=" tab-item " textWrap="true"></Label>
          </ng-container>
        </StackLayout>
      </ScrollView>
    </GridLayout>
    <Pager row="1" disableSwipe="true" [items]="items | async" >
      <ng-template let-i="index" let-item="item">
        <app-itemList [dataItemsList]='listItems'></app-itemList>
      </ng-template>
    </Pager>
    <GridLayout rows="*" columns="*" row="2" backgroundColor="yellow" height="48dp">
        <Label text="bottom bar" textWrap="true"></Label>
    </GridLayout>
  </GridLayout>
</GridLayout>

