
@import '../theme/sass/index';

.page-background {
    background-color: $background;
}

.bottom-bar-item {
	color: rgba(142,142,147,1);
	font-family: "SF Pro Text";
	font-weight: 500;
    text-align: center;
    padding-top: 30%;
    text-transform: uppercase;
}

.image-size {
    width: 50dp;
    height: 50dp;
    margin-top: -15dp;
}

.image-size-more {
    width: 35dp;
    height: 35dp;
    margin-top: -15dp;
}


.activebottomtap {
    color: #a6c941;
}